@model Managing_Employees.Models.Employees

@{
    ViewBag.Title = "Delete";
}


    

    @using (Ajax.BeginForm("Delete",new AjaxOptions { UpdateTargetId = "pagingсоntent" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            
        </div>
    }
</div>
